<h3>Heroe
  <small>name...</small>
  <button [routerLink]="['heroes']" type="button" class="btn btn-outline-danger">Back</button>
  <button (click)="addNew(forma)" type="button" class="btn btn-outline-success">Add new</button>
</h3>

<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <form (ngSubmit)="save()" #forma="ngForm">

      <div class="form-group">
        <label>Name: </label>
        <input [(ngModel)]="heroe.name" type="text" name="name" class="form-control" placeholder="Name of the heroe" required>
      </div>

      <div class="form-group">
        <label>House: </label>
        <select [(ngModel)]="heroe.house" class="form-control" name="house">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio: </label>
        <textarea [(ngModel)]="heroe.bio" type="text" name="bio" class="form-control" placeholder="Bio" required></textarea>
      </div>


      <div class="form-group">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Save</button>
      </div>

    </form>

  </div>
</div>